h1 {
  text-align: center;
}

.mainBox {
  background-color: #3737cc;
  max-width: 700px;
  text-align: center;
  margin: auto;
  border-radius: 6px;
  box-shadow: 5px 10px #888888;

  button {
    height: 60px;
    width: 100px;
    border-radius: 10px;
    background: #ead936;
    margin: 1rem
  }
  a {
    display: inline-block;
    height: 60px;
    width: 100px;
    border-radius: 10px;
    background: #ead936;
    margin: 1rem;
  }
  
}
